* {
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}

body {
  background-color: #131516;
}

iframe {
  border: none;
}

canvas {
  pointer-events: none;
}